
@font-face {
  font-family: "SSTArabic";
  src: url($font-path + "SST Arabic Light.ttf");
  // font-weight: $w-normal;
}

@font-face {
  font-family: "SSTArabic";
  src: url($font-path + "SST Arabic Roman.ttf");
  font-weight: $w-normal;
}

@font-face {
  font-family: "SSTArabic";
  src: url($font-path + "SST Arabic Medium.ttf");
  font-weight: $w-medium;
}

@font-face {
  font-family: "SSTArabic";
  src: url($font-path + "SST Arabic Bold.ttf");
  font-weight: $w-bold;
}
@font-face {
  font-family: "URWDINArabic";
  src: url($font-path + "URWDINArabic.ttf");
  font-weight: $w-normal;
}

